body {
background-color: blue;
}

#root{
  background-color: grey;
}

header {
  text-align: center;
  background-color: deepskyblue;
  border: solid black 5px;
  border-radius: 10px;
}

Form {
text-align: center;
margin: 50px;
}

button.btn {
  margin: 15px;
  text-align: center;
  background-color: darkblue;
}

h2, p {
  text-align: center;
}

#image {
  margin-left: 400px;
  margin-bottom: 50px;
}

footer {
  text-align: center;
  background-color: deepskyblue;
  border: solid black 5px;
  border-radius: 10px;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  background-color: gray;
}
